
@{
    ViewBag.Title = "Отчет";
}

<h2>Отчеты</h2>
</br>
<div>
    <h4>Студенты-отличники</h4>
    <a href="Report/Download_PDF/" target="_blank" class="btn btn-primary" style="margin-top:20px;">Загрузить PDF</a>
</div>
</br>
<div>
    <h4>Полный список ВКР</h4>
    <a href="Report/Download_PDF2/" target="_blank" class="btn btn-primary" style="margin-top:20px;">Загрузить PDF</a>
</div>
